.expandedCardContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.76);
  background-image: url(".src/images/pokeBackground");
  z-index: 9999;
}

.expandedCard {
  display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 5px;
    position: relative;
    background-image: url(/src/Images/Pokeball.png);
    background-repeat: no-repeat;
    background-position: right 2% top 2%;
    background-blend-mode: screen;
}

.expandedCard h2 {
  font-size: 2rem;
  font-weight: 900;
  color: white;
}

.expandedCard img {
  width: 50%;
}

.expandedCardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 80px;
  margin-top: 20px;
}

.expandedCardHeader h2 {
  margin: 0;
}

.expandedCardHeader p {
  color: white;
}

.expandedCardHeader div {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.closeButton img {
  width: 2rem;
  height: 2rem;
}

.imagePosition {
  width: 100%;
  height: 25%;
}

.navButton {
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 24px;
  padding: 5px;
}

.navButton img {
  width: 20px;
  height: 20px;
}

.navButtonLeft {
  position: absolute;
  top: 22%;
  left: 10%;
}

.pokemonPhoto {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 5%;
  left: 25%;
}

.navButtonRight {
  position: absolute;
  top: 22%;
  right: 10%;
}

.infoContainer {
  display: flex;
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1%;
}

.infoContainer h3:first-child{
  margin-top: 5.5rem;
}

.types {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.types p {
  width: 85px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  color: white;
}

.specs {
  width: 85%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 20px;
  font-size: 0.7rem;
  font-size: 0.7rem
}

.wheightDivs {
  display: flex;
  width: 33%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.weight {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.weight p {
  width: 60px;
}

.weight img {
  width: 30px;
  height: 30px;
}

.bold {
  font-weight: 800;
}

.bordersSpecs {
  border-left: solid 1px rgba(0, 0, 0, 0.747);
  border-right: solid 1px rgba(0, 0, 0, 0.747);
}

.movesDivs {
  display: flex;
  flex-direction: column;
  width: 33%;
  align-items: center;
}

.flavorText {
  font-size: 0.8rem;
  padding: 1rem;
}

.stats {
  display: flex;
  width: 80%;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
  height: 160px;
}

li {
  display: flex;
  width: 100%;
  justify-content: center;
}

li p {
  width: 30%;
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
}

.statBarFull {
  background-color: rgba(2, 100, 2, 0.527);
  width: 50%;
  height: 20px;
}

.statBar {
  height: 20px;
  background-color: rgb(0, 58, 0);
}

@media (max-width: 425px) {
  .expandedCard {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    padding: 10px;
  }

  .pokemonPhoto {
    height: 200px;
    top: 12%;
    left: 25%;
  }

  .infoContainer {
    padding: 0px;
  }

  .infoContainer h3:first-child{
    margin-top: 2.5rem;
  }
}